<!doctype html>
<html class="no-js" lang="en">
  <style>
    table, th, td {
      border:1px solid black;
    }
    </style>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not That Drunk</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1>Welcome to Foundation</h1>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <div class="callout">
            <table style="width:25%">
              <tr>
                <td>Player</td>
                <td>Score</td>
                <td>Role</td>
              </tr>
              <tr>
                <td><%= playerName %></td>
                <td><%= playerScore %></td>
                <td><%= playerRole %></td>
              </tr>
            </table>
            
            <div class="grid-x grid-padding-x">
              <div class="large-4 medium-4 medium-push-2 cell">
                <p><a href="https://get.foundation/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</p>
              </div>
              <div class="large-4 medium-4 medium-push-2 cell">
                <p><a href="https://github.com/foundation/foundation-emails/discussions">Foundation Forum</a><br />Join the Foundation community to ask a question or show off your knowlege.</p>
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-4 medium-4 medium-push-2 cell">
                <p><a href="https://github.com/foundation/foundation-sites">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</p>
              </div>
              <div class="large-4 medium-4 medium-pull-2 cell">
                <p><a href="https://twitter.com/FoundationCSS">@FoundationCSS</a><br />Ping us on Twitter if you have questions. When you build something with this we'd love to see it.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/what-input/dist/what-input.js"></script>
    <script src="node_modules/foundation-sites/dist/js/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
